<div class="container-main">
  <div class="left-arrow" (mousedown)="handleScrollLeft()" (mouseup)="handleMouseUp()" #leftArrow>
    <div>
      <img src="/arrow.svg" alt="left" height="18" width="18" />
    </div>
  </div>
  <div class="container-card" (scroll)="onScroll()" #containerCard>
    <ng-content select="app-card"></ng-content>
  </div>
  <div class="right-arrow" (mousedown)="handleScrollRight()" (mouseup)="handleMouseUp()">
    <div>
      <img src="/arrow.svg" alt="left" height="18" width="18" />
    </div>
  </div>
</div>
