main {
  flex-grow: 1;
  flex-shrink: 1;
  background-image: url("/background-home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  > div {
    height: 100%;
    background: linear-gradient(135deg, #1e1e1e 35.16%, #1e1e1e2f 100%);
    padding: 5rem 0rem;
    @media (min-width: 768px) {
      padding: 8rem 0rem;
    }
  }
}

.content {
  max-width: 42rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    color: white;
    font-size: 4rem;
    line-height: 3.5rem;
    margin-bottom: 0.75rem;
  }
  h2 {
    color: white;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  strong {
    font-family: "Poppins", sans-serif;
    color: #b90504;
  }
}
